.advantages {
  padding: 50px 0 10px;
  @include breakpoint(screen-tl) {
    padding: 100px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(screen-tx) {
      font-size: 30px;
    }
    @include breakpoint(screen-tl) {
      margin-bottom: 80px;
      text-align: left;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      margin: 10px auto;
      background-color: #000;
      @include breakpoint(screen-tl) {
        @include inlineBlockAlign();
        margin: 0 0 0 15px;
      }
    }
  }

  &__inner {
    @include flexAlign(flex-start, center);
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin-left: -10px;
  }


  &__item {
    display: block;
    width: calc(100% - 40px);
    max-width: 250px;
    margin: 0 20px 40px;
    text-decoration: none;
    @include breakpoint(mobile-xxs) {
      width: calc(50% - 40px);
    }
    @include breakpoint(screen-tx) {
      width: calc((100% / 3) - 20px);
      margin: 0 10px 40px;
    }
    @include breakpoint(screen-tl) {
      width: calc((100% / 5) - 20px);
      margin-bottom: 0;
    }
  }

  &__icon {
    position: relative;
    margin: 0 auto 15px;
    font-size: 0;
    text-align: center;
    @include breakpoint(screen-xs) {
      margin-bottom: 25px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 19%;
      right: 48%;
      z-index: -1;
      width: 69px;
      height: 69px;
      border-radius: 50%;
      background-color: #FFCDE3;
    }

    img {
      height: 80px;
      width: auto;
    }
  }

  &__subtitle {
    margin: 0;
    color: #000;
    font-size: 16px;
    text-align: center;
    @include breakpoint(screen-xs) {
      font-size: 18px;
    }
  }
}
