.banner {
  padding: 60px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint(screen-tl) {
    padding: 220px 0;
  }

  &__slogan {
    margin: 0;
    font-size: 30px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.4;
    color: #000;
    @include breakpoint(screen-tx) {
      font-size: 44px;
    }
    @include breakpoint(screen-tl) {
      font-size: 48px;
    }
  }

  &__btnwrap {
    width: calc(100% + 10px);
    margin-left: -5px;
    margin-top: 20px;
    text-align: left;

    .btn {
      margin: 5px;
    }
  }
}
