.booking {
  padding: 50px 0;
  background-color: $primary-color;
  @include breakpoint(screen-tl) {
    padding: 100px 0;
  }


  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(screen-tx) {
      font-size: 30px;
    }
    @include breakpoint(screen-tl) {
      margin-bottom: 80px;
      text-align: left;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      margin: 10px auto;
      background-color: #000;
      @include breakpoint(screen-tl) {
        @include inlineBlockAlign();
        margin: 0 0 0 15px;
      }
    }
  }

  &__form {
    &-list {
      @include flexAlign(flex-start, flex-start);
      flex-wrap: wrap;
      width: calc(100% + 30px);
      margin-left: -15px;

      li {
        width: calc(100% - 30px);
        margin: 15px;

        @include breakpoint(screen-tx) {
          width: calc(50% - 30px);
        }
      }
    }


    &-footer {
      margin-top: 15px;
      text-align: center;
    }
  }

}

