.checklist {
  padding: 50px 0;
  background-color: #fff;
  @include breakpoint(screen-tl) {
    padding: 100px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(screen-tx) {
      font-size: 30px;
    }
    @include breakpoint(screen-tl) {
      margin-bottom: 80px;
      text-align: left;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      margin: 10px auto;
      background-color: #000;
      @include breakpoint(screen-tl) {
        @include inlineBlockAlign();
        margin: 0 0 0 15px;
      }
    }
  }

  &__inner {
    @include flexAlign(flex-start, center);
    flex-wrap: wrap;
    width: 1260px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__item {
    display: block;
    width: 100%;
    border: 1px solid rgba(235, 235, 235, 1);
    margin-bottom: 20px;
    text-decoration: none;
    @include breakpoint(mobile-xxs) {
      width: calc(50% - 40px);
      margin: 0 20px;
    }
    @include breakpoint(screen-tx) {
      width: calc((100% / 3) - 40px);
    }
  }

  &__icon {
    position: relative;
    padding: 30px 95px;
    margin: 0 auto 25px;
    font-size: 0;

    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 26px;
      z-index: 1;
      width: calc(100% - 52px);
      height: 1px;
      background-color: $accent-color;
    }
  }

  &__subtitle {
    color: #000;
    font-size: 18px;
    text-align: center;
  }
}
