.comments {
  padding: 40px 0;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(screen-tx) {
      font-size: 30px;
    }
    @include breakpoint(screen-tl) {
      margin-bottom: 80px;
      text-align: left;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      margin: 10px auto;
      background-color: #000;
      @include breakpoint(screen-tl) {
        @include inlineBlockAlign();
        margin: 0 0 0 15px;
      }
    }
  }

  &__item {
    &:after {
      content: '';
      display: block;
      clear: both;
    }

    &-column {
      width: 100%;
      @include breakpoint(screen-sm) {
        width: 50%;
        float: left;
        padding-right: 20px;

        &:first-child {
          float: right;
          padding-right: 0;
        }
      }
    }

    h3 {
      color: rgba(0, 0, 0, 1);
      font-size: 28px;
      @include breakpoint(screen-tx) {
        font-size: 36px;
      }
      @include breakpoint(screen-tl) {
        font-size: 44px;
      }
    }


    p {
      color: rgba(51, 51, 51, 1);
      font-size: 16px;
      line-height: 1.75;
    }
  }
}
