.dress-style {
  padding: 50px 0 30px;
  @include breakpoint(screen-tl) {
    padding: 100px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(screen-tx) {
      font-size: 30px;
    }
    @include breakpoint(screen-tl) {
      margin-bottom: 80px;
      text-align: left;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      margin: 10px auto;
      background-color: #000;
      @include breakpoint(screen-tl) {
        @include inlineBlockAlign();
        margin: 0 0 0 15px;
      }
    }
  }

  &__inner {
    @include flexAlign(stretch, center);
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  &__item {
    @include flexAlign(center, space-between);
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    margin: 0 10px 20px;
    text-decoration: none;
    @include breakpoint(mobile-xxs) {
      width: calc(50% - 40px);
      margin: 0 20px 20px;
    }
    @include breakpoint(screen-ts) {
      width: calc(25% - 20px);
      margin: 0 10px;
    }
  }

  &__icon {
    flex: 1 0 auto;
    position: relative;
    @include flexAlign(center, center);
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 0;
    @include breakpoint(screen-sm) {
      margin-bottom: 25px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      background-color: $accent-color;
    }
  }

  &__subtitle {
    flex: 0 0 auto;
    margin: 0;
    color: #000;
    font-size: 24px;
    text-align: center;
    @include breakpoint(screen-sm) {
      font-size: 27px;
    }
    @include breakpoint(screen-tl) {
      font-size: 30px;
    }
  }
}
