.gallery {
  padding: 40px 0 0;

  &__title {
    text-align: left;
    font-size: 30px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    text-transform: uppercase;

    &:after {
      content: '';
      @include inlineBlockAlign();
      width: 100px;
      height: 1px;
      margin-left: 15px;
      background-color: #000;
    }
  }

  &__inner {
    overflow: hidden;
    @include flexAlign(stretch, flex-start);
    width: 100%;
  }

  &__item {
    flex: 0 0 auto;
    display: block;
    width: 25vw;
    padding-bottom: 25vw;
    font-size: 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:nth-child(odd){
      background-color: $accent-color;
    }
    &:nth-child(even){
      background-color: $primary-color;
    }
  }
}