.news {


  &_section {
    background-color: #fff;
    padding: 50px 0;
    @include breakpoint(screen-tl) {
      padding: 100px 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(screen-tx) {
      font-size: 30px;
    }
    @include breakpoint(screen-tl) {
      margin-bottom: 80px;
      text-align: left;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      margin: 10px auto;
      background-color: #000;
      @include breakpoint(screen-tl) {
        @include inlineBlockAlign();
        margin: 0 0 0 15px;
      }
    }
  }

  &__inner {
    @include flexAlign(stretch, center);
    flex-wrap: wrap;
    width: 1040px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__footer {
    margin-top: 30px;
    text-align: center;
  }

  &__item {
    overflow: hidden;
    display: block;
    width: calc(100% - 40px);
    margin: 20px;
    text-decoration: none;
    @include breakpoint(screen-sm) {
      width: calc(50% - 40px);
      margin: 0 20px;
    }
  }

  &__item-img {
    font-size: 0;
  }

  &__item-content {
    position: relative;
    padding: 15px 15px 30px;
    width: calc(100% - 20px);
    border: 1px solid rgba(235, 235, 235, 1);
    margin: -20px 10px 0;
    background-color: #fff;
    @include breakpoint(screen-sm) {
      width: calc(100% - 50px);
      margin: -30px 25px 0;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      color: #000;
      font-size: 20px;
    }

    p {
      font-size: 16px;
      color: rgb(128, 128, 128);
    }
  }

  &__item-pseudolink {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: rgb(128, 128, 128);
    font-size: 14px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
