.sale {
  padding: 50px 0;
  background-color: $primary-color;
  @include breakpoint(screen-tl) {
    padding: 100px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include breakpoint(screen-tx) {
      font-size: 30px;
    }
    @include breakpoint(screen-tl) {
      margin-bottom: 80px;
      text-align: left;
    }

    &:after {
      content: '';
      display: block;
      width: 100px;
      height: 2px;
      margin: 10px auto;
      background-color: #000;
      @include breakpoint(screen-tl) {
        @include inlineBlockAlign();
        margin: 0 0 0 15px;
      }
    }
  }
  &-slider {
    width: calc(100% + 20px);
    margin-left: -10px;
    @include breakpoint(screen-sm) {
      width: calc(100% + 40px);
      margin-left: -20px;
    }
  }

  &__item {
    position: relative;
    padding: 0 10px;
    @include breakpoint(screen-sm) {
      padding: 0 20px;
    }
  }

  &__discount {
    position: absolute;
    top: 40px;
    left: 5px;
    z-index: 1;
    padding: 10px;
    background-color: red;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }

  &__price {
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: 1;
    padding: 15px;
    background-color: #fff;

    > * {
      @include inlineBlockAlign();
    }

    span {
      font-size: 14px;
      color: #000;
      @include breakpoint(screen-sm) {
        font-size: 16px;
      }
    }

    del {
      color: red;
      font-size: 12px;
      @include breakpoint(screen-sm) {
        font-size: 14px;
      }
    }
  }
}
