//------------- animation menu-button -------------------//

//- first-line -//
@keyframes rotateUpLeft {
  0% {
    z-index: 10;
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  50% {
    transform: translate(0px, 8px) rotateZ(0deg);
  }
  100% {
    z-index: 20;
    transform: translate(0px, 8px) rotateZ(-45deg);
  }
}

.rotateUpLeft {
  z-index: 20;
  transform: translate(0px, 8px) rotateZ(-45deg);
  animation: rotateUpLeft 0.2s linear 0s 1;
}


@keyframes rotateUpLeft_inv {
  0% {
    z-index: 20;
    transform: translate(0px, 8px) rotateZ(-45deg);
  }
  50% {
    transform: translate(0px, 8px) rotateZ(0deg);
  }
  100% {
    z-index: 10;
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

.rotateUpLeft_inv {
  z-index: 10;
  transform: translate(0px, 0px) rotate(0deg);
  animation: rotateUpLeft_inv 0.2s linear 0s 1;
}

//- last-line -//

@keyframes rotateDownLeft {
  0% {
    z-index: 10;
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, -8px) rotate(0deg);
  }
  100% {
    z-index: 20;
    transform: translate(0px, -8px) rotateZ(45deg);
  }
}

.rotateDownLeft {
  z-index: 20;
  transform: translate(0px, -8px) rotateZ(45deg);
  animation: rotateDownLeft 0.2s linear 0s 1;
}


@keyframes rotateDownLeft_inv {
  0% {
    z-index: 20;
    transform: translate(0px, -8px) rotateZ(45deg);

  }
  50% {
    width: 18px;
    transform: translate(0px, -8px) rotate(0deg);
  }
  100% {
    z-index: 10;
    width: 18px;
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.rotateDownLeft_inv {
  z-index: 10;
  transform: translate(0px, 0px) rotate(0deg);
  animation: rotateDownLeft_inv 0.2s linear 0s 1;
}

//------------- animation links in menu -------------------//

@keyframes sprinkle {
  0% {
    opacity: 0;
    transform: translate(-50%, -200%);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -90%);
  }

  75% {
    transform: translate(-50%, -105%);
  }

  90% {
    transform: translate(-50%, -95%);
  }

  100% {
    transform: translate(-50%, -100%);
  }
}


//-------------- animation popUp -----------------//


@keyframes bounceInDown {
  0% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  animation: bounceInDown 0.2s ease-in 0s 1;
  transform: translateY(0);
}


@keyframes bounceOutUp {
  0% {

    transform: translateY(0);
  }
  100% {

    transform: translateY(-2000px);
  }
}

.bounceOutUp {
  animation: bounceOutUp 0.2s ease-in 0s 1;
  transform: translateY(-2000px);
}

//------------animation content-----------//

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}