@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot?1564953957797');
	src: url('../fonts/icons.eot?1564953957797#iefix') format('eot'),
		url('../fonts/icons.woff2?1564953957797') format('woff2'),
		url('../fonts/icons.woff?1564953957797') format('woff'),
		url('../fonts/icons.ttf?1564953957797') format('truetype'),
		url('../fonts/icons.svg?1564953957797#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-facebook:before {
	content: "\E001";
}

.icon-instagram:before {
	content: "\E002";
}

.icon-pinterest:before {
	content: "\E003";
}

.icon-vkontakte:before {
	content: "\E004";
}
