@mixin breakpoint($point) {
  @if $point == screen-hd {
    @media screen and (min-width: 1280px) {
      @content;
    }
  } @else if $point == screen-lg {
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else if $point == screen-tl {
    @media screen and (min-width: 1024px) {
      @content;
    }
  } @else if $point == screen-tm {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $point == screen-ts {
    @media screen and (min-width: 900px) {
      @content;
    }
  } @else if $point == screen-tx {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $point == screen-sm {
    @media screen and (min-width: 650px) {
      @content;
    }
  } @else if $point == screen-xs {
    @media screen and (min-width: 560px) {
      @content;
    }
  } @else if $point == mobile-xxs {
    @media screen and (min-width: 480px) {
      @content;
    }
  }
}


@mixin inlineBlockAlign($value:middle) {
  display: inline-block;
  vertical-align: $value;
}



@mixin flexAlign($align-items:center,$justify-content:space-between) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff2') format('woff2'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype');
    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
  }
}

@mixin absoluteAlign() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
