@import "abstracts/vars";
@import "abstracts/mixins";

@import "base/normalize";
@import "base/base";
@import "base/fonts";
@import "components/buttons";

@import "layout/header";
@import "blocks/banner";

.footer {
  display: none;
}

body {
  font-size: 14px;
  font-family: "Arial";
  font-weight: normal;
}