.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 232px;
  height: 53px;
  padding: 0 20px;
  border: 1px solid #121212;
  background-color: #fff;
  color: #121212;
  font-size: 16px;
  font-family: Arial, serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 53px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
  }


  &_inverse {
    border-color:  #121212;
    background-color: #121212;
    color: #fff;
  }
}