.slick-dots {
  list-style: none;
  text-align: center;

  li {
    @include inlineBlockAlign();
    margin: 5px;

    &.slick-active {
      button {
        background-color: #000;
      }
    }
  }

  button {
    width: 11px;
    height: 11px;
    padding: 0;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: none;
    font-size: 0;
    outline: none;
    transition: background-color 0.3s;
    cursor: pointer;
  }
}