.footer {
  flex: 0 0 auto;
  width: 100%;
  padding: 15px 0;
  background-color: #000000;
}

.contacts-list {
  margin: 0 auto 30px;
  &__item {
    text-align: center;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    line-height: 1.6;
  }
}

.social {
  @include flexAlign(flex-start, space-between);
  width: max-content;
  margin: 0 auto;

  &__item {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include flexAlign(center, center);
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s;


    &:hover {
      background-color: #fff;
      color: #000000;
    }
  }
}