input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="file"],
select {
  overflow: hidden;
  width: 100%;
  height: 53px;
  border: 1px solid #121212;
  padding: 25px 20px 10px 20px;
  background-color: #fff;
  color: #121212;
  font-size: 14px;
  -webkit-appearance: none;
  line-height: 22px;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    outline: none;
  }

  &.field-error {
    border-color: #ee1f46;
  }

}

/*===== Style for custom checkbox =====*/
.custom-checkbox {
  input[type=checkbox] {
    position: absolute;
    left: -10000px;

    + label {
      position: relative;
      padding-left: 35px;
      font-size: 18px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 19px;
        height: 19px;
        border: 1px solid #000;
        background-color: #fff;
      }

      &:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 4px;
        width: 12px;
        height: 6px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        transform: rotate(-45deg) scale(0);
        transition: transform 0.3s;
      }
    }

    &:checked + label {

      &:after {
        transform: rotate(-45deg) scale(1);
      }
    }
  }
}

.form-group {
  position: relative;

  label {
    position: absolute;
    top: 14px;
    left: 20px;
    color: #A6A5A5;
    font-size: 14px;
    line-height: 25px;
    transition: all 0.3s;

    &.field-dirty {
      top: 0;
      color: #000;
      font-size: 10px;
    }
  }


  input:focus + label {
    top: 0;
    color: #000;
    font-size: 10px;
  }
}