.header {
  position: sticky;
  width: 100%;
  top:0;
  left: 0;
  z-index: 99;
  padding: 9px 0 5px;
  background-color: #fff;
  transition: all 0.3s;
  @include breakpoint(screen-tl) {
    padding: 10px 0;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
      justify-content: center;
    }
  }

  &.sticky {
    box-shadow: 0 3px 10px 4px #d7d7d7;

    .logo {
      max-width: 136px;
    }
  }
}

.nav {
  &__item {
    display: block;
    @media screen and (min-width: 1024px) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 15px 20px;
    margin: 0 15px;
    font-size: 18px;
    font-family: "Champagne-Limousines";
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;

    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background: #000;
      transition: all 0.3s ease;
    }

    &:hover{
      &:after {
        width: 50%;
      }
      &:before {
        left: 0;
        width: 50%;
      }
    }
  }

  &-mobile {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    background-color: #fff;
    @media screen and (min-width: 1024px) {
      display: none;
    }

    &.open {
      display: block;

      + .btnToggle {
        span:not(.first-line):not(.last-line) {
          width: 0;
        }
      }
    }
  }
}

.logo {
  display: block;
  max-width: 106px;
  margin: 0 25px;
  font-size: 0;
  transition: all 0.3s ease-out;
  @include breakpoint(screen-tl) {
    max-width: 166px;
  }

  &:hover {
    opacity: 0.7;
  }
}


.btnToggle {
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 10;
  cursor: pointer;
  @media screen and (min-width: 1024px) {
    display: none;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 8px;
    display: block;
    width: 18px;
    height: 2px;
    background-color: rgb(82, 88, 94);
    transform-origin: center;
    transition: width 0s linear 0.1s;
    &.first-line {
      top: 0;
    }

    &.last-line {
      top: calc(100% - 2px);
    }
  }
}

.main {
  flex: 1 0 auto;
  width: 100%;
}

.page__title {
  margin-bottom: 80px;
  font-size: 34px;
  font-family: "Champagne-Limousines";
  font-weight: 700;
  text-transform: uppercase;

  &:after {
    content: '';
    @include inlineBlockAlign();
    width: 100px;
    height: 1px;
    margin-left: 15px;
    background-color: #000;
  }
}