.contacts {

  &__inner {
    @include flexAlign(flex-start, space-between);
    flex-wrap: wrap;
    width: 100%;
  }

  &__form {
    width: 40%;

    &-list {
      li {
        margin-bottom: 20px;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 14px;
    }

    .btn {
      width: 100%;
    }
  }



  &__info {
    width: 50%;

    &-list {
      @include flexAlign(flex-start, center);
      width: 100%;
      flex-wrap: wrap;

      li {
        width: 50%;
        margin-bottom: 20px;
      }

      h3 {
        margin-top: 0;
        font-size: 14px;
        font-weight: bold;
      }

      a, span {
        display: block;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}