.products {

  &__inner {
    @include flexAlign(flex-start, space-between);
    width: 100%;
  }

  &__filters {
    width: 250px;

    ul {
      margin-bottom: 30px;

      li {
        margin-bottom: 10px;
      }
    }
  }

  &__catalog {
    @include flexAlign(stretch, space-between);
    flex-wrap: wrap;
    width: calc(100% - 270px);
  }

  &__item {
    display: block;
    width: calc((100% / 3) - 10px);
    margin-bottom: 25px;
    text-decoration: none;

    &:hover {
      .products__img img {
        transform: scale(1.15);
      }
    }
  }

  &__img {
    overflow: hidden;
    position: relative;

    img {
      display: block;
      transition: transform 0.4s;
    }

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 5px 10px;
      background-color: rgba(255,255,255,0.3);
      color: #000;
      font-size: 16px;
      text-align: center;
      line-height: 2;
    }
  }

  &__name {
    color: #000;
    font-size: 20px;
    text-align: center;
  }

  &__price {
    color: #000;
    font-size: 16px;
    text-align: center;
  }

  &__gallery {
    width: calc(50% - 10px);

    .slider-for {
      width: 70%;
      margin: 0 auto;
    }

    .slider-nav {
      width: 100%;

      .slick-slide {
        padding: 0 5px;
      }
    }
  }

  &__summary {
    width: calc(50% - 10px);
  }
}